* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4.7rem;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-image: url("./assets/img/universe10.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
p.success {
  color: greenyellow;
}


p.danger {
  color: red;
}

nav.navbar {
  padding: 1.1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32 ease-in-out;
  -webkit-transition: 0.32 ease-in-out;
  -moz-transition: 0.32 ease-in-out;
  -ms-transition: 0.32 ease-in-out;
  -o-transition: 0.32 ease-in-out;
  opacity: 98%;
}

nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}

nav.navbar a.navbar-brand {
  width: 9%;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 1.5rem;
  font-size: 1.1rem;
  opacity: 0.75;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link:active {
  opacity: 1;
}

span.navbar-text {
  display: flex;
  align-items: center;
}
.logo-b {
  color: #fff;
}

.logo {
  background-color: transparent;
  color: #fff;
}

.social-icon {
  display: inline-block;
  margin-left: 0.8rem;
}

.social-icon a {
  width: 2.6rem;
  height: 2.6rem;
  background: rgba(217, 217, 217, 0.1);
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 0.3rem;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a ::before {
  content: "";
  width: 2.6rem;
  height: 2.6rem;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.social-icon a img {
  width: 100%;
  padding: 0.3rem;
  z-index: 1;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  background-color: rgb(181, 181, 181);
}

.social-icon a:hover img {
  background-color: rgb(255, 255, 255);
}

.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 1.1rem 2.1rem;
  font-size: 1.1rem;
  margin-left: 1.1rem;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.nav-text button span {
  z-index: 1;
}

.nav-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #ad99fc;
  border-color: #ad99fc;
}

.nav-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 1.5rem;
  height: 1rem;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  top: -0.1rem;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 1.5rem;
  position: absolute;
  height: 0.1rem;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 0.5rem;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  background-color: #ffffff;
  height: 0.1rem;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform:translateY(8px) rotate(-45deg);
  -webkit-transform:translateY(8px) rotate(-45deg);
  -moz-transform:translateY(8px) rotate(-45deg);
  -ms-transform:translateY(8px) rotate(-45deg);
  -o-transform:translateY(8px) rotate(-45deg);
  background-color: #ffffff;
  height: 0.1rem;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 4rem;
}

.img {
  width: 25rem;
  height: 25rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

/*Footer*/
.footer {
  margin-top: 7rem;
  background-color: #320a31;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer img {
  border-radius: 80%;
  -webkit-border-radius: 80%;
  -moz-border-radius: 80%;
  -ms-border-radius: 80%;
  -o-border-radius: 80%;
}

.footer-logo {
  margin-top: 2rem;
}

.footer-row {
  padding-top: 2rem;
}

.footer p {
  font-weight: 400;
  font-size: 0.9rem;
  color: #bbbbbb;
  letter-spacing: 0.5px;
  margin-top: 1.2rem;
}

.col-redes hr{
  height: 0.2rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  opacity: 50%;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.col-redes a {
  margin-left: 1rem;
  margin-right: 1rem;
}

/*Projects*/

.project{
  padding: 7.5rem 0;
  position: relative;
}

.project h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}

.project .Nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: rgba(255, 255, 255 / 10%);
  overflow: hidden;
}

.project .Nav.nav-pills .Nav-Item {
  width: 33.3333%;
}

.project .Nav.nav-pills .Nav-Item {
  background-color: transparent;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  padding: 1rem 0;
  color: #fff;
  width: 100%;
  font-size: 1rem;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.project .Nav.nav-pills .Nav-Link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.project .Nav.Nav-Pills .Nav-Link.active::before {
  width: 100% !important;
}

.project .Nav.nav-pills .Nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}

.Nav-Link#projects-tabs-tab-first {
 border: 1px solid rgba(255, 255, 255, 0.5);
 border-radius: 55px 0px 0px 55px;
 -webkit-border-radius: 55px 0px 0px 55px;
 -moz-border-radius: 55px 0px 0px 55px;
 -ms-border-radius: 55px 0px 0px 55px;
 -o-border-radius: 55px 0px 0px 55px;
}

.Nav-Link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.Nav-Link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0px 55px 55px 0px;
  -webkit-border-radius: 0px 55px 55px 0px;
  -moz-border-radius: 0px 55px 55px 0px;
  -ms-border-radius: 0px 55px 55px 0px;
  -o-border-radius: 0px 55px 55px 0px;
}

.proj-imgbx{
  position: relative;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  overflow: hidden;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg,#aa367c -5.91%,#4a2fbd 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
  height: 100%;
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}

.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}

.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.8px;
}

.proj-txtx h4 {
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}

.proj-txtx-img a img {
  width: 2rem;
  height: 2rem;
  color: #fff;
  background-color: rgb(255, 255, 255);
  margin-left: 1rem;
  margin-right: 1rem;
}

.project-noView img{
  width: 2rem;
  height: 2rem;
  color: #fff;
  background-color: rgb(137, 137, 137) !important;
  margin-left: 1rem;
  margin-right: 1rem;
}

.proj-txtx-img a img:hover {
  background-color: rgb(239, 166, 255);
}

.proj-imgbx img {
  width: 20rem;
  height: 15rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}


/*skills*/

.skill {
  position: relative;
  margin-top: 7rem;
}

.skill p{
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.skill-bx {
  background: #151515;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
  text-align: center;
  padding: 3.7rem 3.1rem;
  margin-top: -3.7rem;
}

.skill h2 {
  margin: 0.8rem 0 4.6rem 0;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}


.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.img-skill{
  width: 50%;
  height: 10rem;
}

.item h5{
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: 500;
}


.logo-skill-set {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.row-skill-set {
  background-color:rgba(4, 3, 5, 0.5);
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  padding: 2.2rem;
}

.row-skill-set h2{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}

/*Banner*/

.banner {
  margin-top: 10rem;
  margin-right: 5rem;
  margin-left: 5rem;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 16rem;
  position: relative;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  background: linear-gradient(90.21deg,rgba(170,54,124,0.5) -5.91%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}

.banner h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 2rem;
  margin-top: 1rem;
  display: block;
}

.banner p {
  color: #ffffff;
  font-size: 1.1rem;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
  margin-bottom: 0rem;
}


.banner button svg {
  font-size: 1.5rem;
  margin-left: 0.6rem;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.banner button:hover svg {
  margin-left: 1.6rem;
}

.banner img {
  padding-top: 1rem;
  margin-top: 1rem;
  animation: updown 3s linear infinite;
  -webkit-animation: updown 3s linear infinite;
  width: 80%;
  height: 25rem;
}

.welcome {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem;
}

.div-button {
  font-size: 2rem;
  margin-top: 2.1rem;
}

.button-b span a{
  color: #ababab;
  text-decoration: none;
}

.button-b span{
  color: #ababab;
  text-decoration: none;
}

.button-b span:hover{
  color: #ffffff;
}

.button-b span a:hover{
  color: #ffffff;
  text-decoration: none;
}



/*Contact*/
.contact h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3rem;
}

.img-contact {
  width: 20rem;
  height: 20rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  animation: updown 3s forwards infinite;
  -webkit-animation: updown 3s forwards infinite;
}

.field input ,textarea{
  outline: none;
  width: 100%;
  background-color: #280728;
  border: solid 0.1rem rgb(198, 198, 198);
  padding: 0.5rem;
  color: #fff;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.field input:focus{
  outline: none;
  background-color: transparent;
  border: solid 1px rgb(255, 255, 255);
  padding: 0.5rem;
  color: #fff;
}



.field textarea:focus{
  outline: none;
  background-color: transparent;
  border: solid 1px rgb(255, 255, 255);
  padding: 0.5rem;
  color: #fff;
}


.div-area textarea{
  width: 100%;
  height: 10rem;
  color: #fff;
  resize: none;
}

.div-area button{
  width: 7rem;
  height: 3rem;
  margin-right: 28rem;
  outline: none;
  border: 0;
  color: rgb(203, 203, 203);
  background-color: transparent;
  border: solid 1px rgb(203, 203, 203);
  border-radius: 0.4rem;
}

.div-area button:hover{
  color: #fff;
  background-color: #3f0041;
  border: solid 1px #ffffff;
}



@keyframes updown{
  0%{
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
  }
  50%{
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
  }
  100%{
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}
}

.wrap {
  color: #a6ecff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
